@white: #fff;
@black: #111;
@gray: #ccc;
@gray-dark: #999;
@dark: #273135;
@orange: #ff8533;
@orange-medium: #ff751a;
@orange-dark: #f60;
@max-index: 16777271;
@sidebar-width: 330px;
@header-height: 200px;

html,
body {
  height: 100%;
  background-color: @white;
}

.interface {
  height: 100%;
  display: none;
}

#moodle-select,
#moodle-error {
  color: @white;
  background-color: @orange;

  .box {
    background-color: @orange;
    padding: 8% 5%;
    text-align: center;

    .logo {
      font-size: 124pt;
    }

    .title {
      font-size: 24pt;
      font-weight: bold;
    }

    .text {
      font-size: 16pt;
    }
  }
}

#moodle-sync {
  text-align: center;

  .message {
    padding-bottom: 10px;
  }
}

#moodle-message {
  text-align: center;
}

#moodle-select {
  .box {
    .moodle-list .moodle-item {
      display: none;

      .url {
        font-size: 16pt;
      }
    }

    a {
      &:-webkit-any-link {
        color: @black;
        background-color: @white !important;
        margin: 1%;
      }

      &:hover {
        color: @orange;
        background-color: @white !important;
      }
    }
  }
}

#moodle-dashboard {
  color: @dark;
  background-color: @white;

  .sidebar {
    position: fixed;
    width: @sidebar-width;
    height: 100%;
    color: @gray;
    background-color: @dark;

    header {
      height: @header-height;

      .head {
        width: 100%;
        height: @header-height - 55;
        text-align: center;
        background-color: @orange;
        display: table;

        .box {
          color: @white;
          font-size: 12pt;
          display: table-cell;
          vertical-align: middle;

          & > .title a {
            color: @white;
            text-decoration: none;
          }
        }
      }

      .menu {
        padding: 12px 0;
        background-color: @orange-medium;
        border-bottom: 1px solid @white;

        ul {
          margin: 0;
          padding: 3px;

          li {
            display: inline;

            a {
              &:-webkit-any-link {
                padding: 17px 15px;
                color: @white;
              }

              &:hover {
                background-color: @orange-dark;
              }
            }

            .active {
              background-color: @orange-dark;
            }
          }
        }
      }
    }

    .nav {
      li {
        a {
          &:-webkit-any-link {
            color: @gray;
            background-color: @dark;
          }

          &:hover {
            color: @orange !important;
          }
        }

        .active {
          color: @orange !important;

          &:hover {
            color: @orange !important;
          }
        }
      }
    }

    .content {
      position: relative;
      overflow: hidden;
      height: 100%;

      .submenu-item {
        margin-bottom: @header-height;
        position: absolute;
        overflow: scroll;
        overflow-x: hidden;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &:not(:first-child) {
          display: none;
        }

        .default {
          color: @gray;
          padding: 10px;
          text-align: center;

          .message {
            font-size: 14pt;
          }

          .material-icons {
            font-size: 150pt;
            font-weight: normal;
          }
        }
      }
    }

    .role-users-list {
      padding: 10px 3px;
      display: none;
    }

    .list-group-item-heading {
      color: @gray;
    }

    .more-options {
      top: @header-height + 5;
      left: @sidebar-width - 45;
    }

    a {
      color: @gray;

      &:-webkit-any-link {
        color: @gray;
      }

      &:hover {
        color: @orange;
        cursor: pointer;
      }
    }

    ::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, .3);
    }

    ::-webkit-scrollbar-track {
      background: none;
    }
  }

  .contents {
    height: 100%;
    margin-left: @sidebar-width;
    overflow: hidden;

    .main {
      height: 100%;
      overflow: scroll;
      overflow-x: hidden;

      &:not(:first-child) {
        display: none;
      }

      & > .header {
        position: fixed;
        width: 100%;
        padding-right: @sidebar-width + 7;
        z-index: 1000;

        & > .box {
          background-color: @white;
          height: 110px;

          & > .nav.nav-tabs {
            margin: 5px;
          }

          & > .title, & > .subtitle {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
          }

          & > .title {
            padding: 5px 45px;
            font-size: 18pt;
          }

          & > .subtitle {
            padding: 0 45px;
            font-size: 11pt;
            height: 20px;
          }

          & > .btn-back {
            float: left;
            margin: 12px 5px;
          }
        }
      }

      & > .content {
        margin-top: 110px;
        padding: 5px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .data {
          display: none;
        }

        .default {
          color: @gray;
          padding: 10px;
          text-align: center;

          .message {
            font-size: 14pt;
          }

          .material-icons {
            font-size: 250pt;
            font-weight: normal;
          }
        }
      }
    }

    .more-options {
      top: 3px;
      right: 15px;
    }
  }

  .more-options {
    position: fixed;
    z-index: 1000;
  }

  .dropdown-menu {
    padding: 3px;
    min-width: 175px;
    border-radius: 5px;

    .togglebutton {
      margin-left: 10px;
    }

    a {
      color: @dark;

      &:-webkit-any-link {
        color: @dark;
      }

      &:hover {
        color: @orange;
        cursor: pointer;
      }
    }

    .active {
      color: @orange !important;
    }
  }
}

#dashboard-settings,
#dashboard-help {
  & > .header > .box {
    height: 90px !important;
  }

  & > .content {
    margin-top: 90px !important;
  }
}

#submenu-daterange .box {
  margin: 13px 30px;

  .datetimepicker:not(:first-child) {
    display: none;
  }

  .message {
    padding: 10px;
    text-align: center;
    color: @gray;
  }
}

.filter-activities > .text {
  text-align: center;
  font-size: 14pt;
  color: @gray;
}

.dropdown-menu > .active > a {
  background-color: @orange;

  &:focus, &:hover {
    color: @white !important;
    background-color: @orange;
  }
}

.pagination {
  & > li {
    & > a, & > span {
      &, &:focus, &:hover {
        color: @orange;
      }
    }

    &.active {
      & > a, & > span {
        &, &:focus, &:hover {
          background-color: @orange;
          border-color: @orange;
        }
      }
    }
  }
}

.number-field {
  input[type=number] {
    width: 35px;
  }

  label {
    color: @dark;
    margin-left: 15px;
  }
}
.row {
  margin: 3px;

  & > [class^=col-md] {
    padding: 0 10px;
  }
}

.panel-heading {
  & > .panel-title {
    width: 100%;
    margin-right: -60px;
    padding-right: 60px;
    display: -webkit-inline-box;

    & > .title {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  & > .panel-options {
    float: right;
    text-align: right;
    width: 60px;

    .material-icons.info {
      font-size: 15px;
      color: @gray-dark;
      cursor: pointer;
      position: relative;
      top: 4px;
    }

    .btn-group {
      position: relative;
      top: -10px;

      & + .material-icons.info {
        position: relative;
        top: -7px;
      }
    }
  }
}

.panel-controls {
  display: none;

  & > .btn-prev, & > .btn-next {
    position: absolute;
    top: 45%;
    z-index: 1;
    font-size: 24pt;
  }

  & > .btn-prev {
    left: 15px;
  }

  & > .btn-next {
    right: 15px;
  }
}

.form-group.is-focused .form-control {
  background-image: -webkit-gradient(linear, left top, left bottom, from(@orange), to(@orange)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
  background-image: -webkit-linear-gradient(@orange, @orange), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: -o-linear-gradient(@orange, @orange), -o-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: linear-gradient(@orange, @orange), linear-gradient(#D2D2D2, #D2D2D2);
}

.form-group.is-focused label,
.form-group.is-focused label.control-label {
  color: @orange;
}

.form-group .checkbox label,
.form-group .radio label,
.form-group label {
  color: @dark;
}

.radio label .check {
  background-color: @orange;
}

.radio input[type=radio]:checked ~ .check {
  background-color: @orange;
}
.radio input[type=radio]:checked ~ .circle {
  border-color: @orange;
}

.modal-dialog {
  width: 700px;
}

a {
  color: @dark;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;

  &:-webkit-any-link {
    color: @dark;
  }

  &:hover {
    color: @orange;
    cursor: pointer;
  }
}

.btn-primary {
  color: @orange !important;
  box-shadow: none !important;

  &:hover {
    color: @orange-dark !important;
  }
}

.togglebutton {
  label {
    color: @dark;

    input[type=checkbox]:checked {
      & + .toggle {
        background-color: rgba(255, 85, 33, .5);

        &::after {
          background-color: rgba(255, 85, 20, .9);
        }
        + span {
          color: @orange-medium;
        }
      }
    }
  }
}

.btn-group {
  & > a {
    padding: 9px 5px;
    border-radius: 360px;
  }

  &.open {
    & > a {
      background-color: rgba(0, 0, 0, .1);
    }
  }
}

.nav-tabs {
  background-color: @orange;
  margin-bottom: 15px;

  li {
    margin: 0;
  }

  .active {
    background-color: @orange-medium;
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .08);
}

.datepicker {
  .active {
    background-color: @orange !important;
  }

  .day:not(.active)::before {
      border-bottom-color: @orange !important;
  }

  .day:not(.active):not(.disabled):hover,
  .month:not(.active):not(.disabled):hover,
  .year:not(.active):not(.disabled):hover,
  .next:hover,
  .picker-switch:hover,
  .prev:hover {
    color: @dark !important;
  }
}

.bootstrap-select {
  background: none !important;
  box-shadow: none !important;
  border: 0 !important;
  outline-style: none !important;

  & > button {
    background: none !important;
    box-shadow: none !important;
    border: 0 !important;
    outline-style: none !important;
  }
}
