/* graph */

.graph,
.bubble_chart,
.bar_chart {
  display: inline;
}

/* bubble_chart */

.graph .bubble_chart text {
  font: 10px sans-serif;
}

/* bar_chart */

.graph .bar_chart .bar {
  fill: steelblue;
}

.graph .bar_chart .bar:hover {
  fill: brown;
}

.graph .bar_chart .axis {
  font: 10px sans-serif;
}

.graph .bar_chart .axis path,
.graph .bar_chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.graph .bar_chart .x .axis path {
  display: none;
}