body {
  width: 100%;
}

body > div {
  width: 500px;
  height: 600px;
}

.mdl-card {
  width: 99%;
  margin: 5px auto;
  display: none;
}

.page-content {
  margin: 10px;
}

.mdl-layout__header-row .mdl-navigation__link {
  padding: 0 5px !important;
}

#spinner {
  text-align: center;
  display: none;
}

.mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.mdl-card__supporting-text {
  width: 93.5% !important;
}

.error-message {
  color: red;
}

#card-users label {
  text-transform: capitalize;
}

#card-graphics {
  text-align: center;
}