body {
  width: 100%;
}

body > div,
.mdl-layout {
  width: 450px;
  height: 600px;
}

.mdl-card {
  width: 98%;
  margin: 5px;
  display: none;
}

.page-content {
  margin: 10px;
}

.mdl-layout__header-row .mdl-navigation__link {
  padding: 0 5px !important;
}

#spinner {
  text-align: center;
  display: none;
}

.mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}