body {
  width: 100%;
}

body > div,
.mdl-layout {
  width: 450px;
  height: 600px;
}

.mdl-card {
  width: 98%;
  margin: 5px;
}

.page-content {
  margin: 10px;
}

.mdl-layout__header-row .mdl-navigation__link {
  padding: 0 5px !important;
}